<section class="ui raised segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="https://cdn.hyperdev.com/us-east-1%3A8ee82547-cf39-4547-8640-fca02ec271b8%2Fhomer4.jpeg" class="ui medium image">
    </aside>
    <article class="eight wide column">
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Method donated</th>
          </tr>
        </thead>
        <tbody>
          {{#each donations}}
            <tr>
              <td> {{amount}} </td>
              <td> {{method}} </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </article>
  </div>
</section>